@font-face {
  font-family: "NotoSerif-Regular";
  src: url("../fonts/NotoSerif-Regular.woff2");
}
@font-face {
  font-family: "NotoSerif-Bold";
  src: url("../fonts/NotoSerif-Bold.woff2");
}
@font-face {
  font-family: "Georama";
  src: url("../fonts/Georama-Regular.woff2");
  font-weight: 400;
  line-height: 26px;
}
