$notoFontsReg: "NotoSerif-Regular", serif;
$notoFontsBold: "NotoSerif-Bold", serif;
// : "Georama", sans-serif;
$Psans: "Rokkitt", serif;

$tcBlack: #2c2c2c; // цвет текста черный
$tcGray: #a79997; // цвет текста серый
$orangeColor: #ff715b; // цвет текста кнопок
$orangeOpacity: #f5ebe9; // цвет линий и границ
